@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedBlack"),
    url("../fonts/BanjaxNotchedBlack.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedBold"),
    url("../fonts/BanjaxNotchedBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedExtraLight"),
    url("../fonts/BanjaxNotchedExtraLight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedLight"),
    url("../fonts/BanjaxNotchedLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedMedium"),
    url("../fonts/BanjaxNotchedMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "BanjaxNotched";
  src: local("BanjaxNotchedRegular"),
    url("../fonts/BanjaxNotchedRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
// @font-face {
//   font-family: "BanjaxNotched";
//   src: local("BanjaxNotchedUltra"),
//     url("../fonts/BanjaxNotchedUltra.otf") format("truetype");
//   font-weight: 100;
//   font-style: normal;
// }
